body {
    margin: 0;
    min-height: 100vh;
    background: rgb(15, 99, 15);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none !important;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container button {
    padding: 10px;
    background-color: #065609;
    border: none;
    border-radius: 22px;
    box-shadow: 0px 2px 12px #041d05;
    color: white;
    cursor: pointer;
}

.game {
    margin: 15px 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background: #333;
}

.cell {
    width: 20px;
    height: 20px;
    background: #1e1e1e;
}

.snake {
    background: #4caf50;
}

.food {
    background: #e53935;
}

#score {
    margin-top: 10px;
    font-size: 18px;
}
